<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .content {
            padding: 0 190px 0 150px;
            height: 50%;
            width: 300px;
        }
        .left {
            width: 150px;
            height: 100%;
            float: left;
            position: relative;
            left: -150px;
        }
        .right {
            width: 190px;
            height: 100%;
            
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="left"></div>
        <div class="middle"></div>
        <div class="right"></div>
    </div>
</body>
</html>