<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/stylesheets/index.css" media="all">
    <script type="text/javascript" src="/plugins/jquery.min.3.4.1.js"></script>
    <script type="text/javascript" src="/plugins/vue.2.1.8.min.js"></script>
    <script src="/plugins/layui/layui.js"></script>
</head>
<body>
    <div id="indexapp" class="main">
        <nav class="head">
            <p>Welcome to {{title}}</p>
        </nav>
        <aside class="left">
            <div class="layui-side">
                <div class="layui-side-scroll" id="navbar_side" lay-filter="side"></div>
            </div>
        </aside>
        <div class="right">
            <iframe src="/api/article/" id="adminIframe" name="adminIframe" style="height: 100%;width: 100%;" frameborder="no" marginwidth="0" marginheight="0" scrolling="auto"></iframe>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>