<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/plugins/jquery.min.3.4.1.js"></script>
    <script type="text/javascript" src="/plugins/vue.2.1.8.min.js"></script>
    <script src="/plugins/layui/layui.js"></script>
    <style type="text/css">
        .inner-container {
            position: absolute;
            left: 0;
            right: 0;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .inner-container::-webkit-scrollbar {
            display: none;
        }
        .layui-table, .layui-table-view {
            margin: 0;
        }
    </style>
</head>
<body class="inner-container">
    <div id="articleIndex">
        <table class="layui-hide" id="demoTb" lay-filter="test"></table>
    </div>
    <script type="text/javascript" src="/javascripts/article/index.js"></script>
</body>
</html>