<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/stylesheets/base.css" media="all">
    <script type="text/javascript" src="/plugins/jquery.min.3.4.1.js"></script>
    <script type="text/javascript" src="/plugins/vue.2.1.8.min.js"></script>
    <script src="/plugins/layui/layui.js"></script>
</head>
<body class="inner-container">
    <div id="articleIndex">
        <table id="articleTb" lay-filter="article"></table>
        <script type="text/html" id="toolbarArticle">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
                <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
                <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
                <button class="layui-btn layui-btn-sm" lay-event="detail">查看</button>
            </div>
        </script>
    </div>
    <script type="text/javascript" src="/javascripts/article/index.js"></script>
</body>
</html>




